<h1>{{heading}}</h1>

  
    <div class="card-deck" >
          {{#each array}}
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.email}}</p>
                <p class="card-text">Mobile: {{this.mobile_no}}</p>
                <p class="card-text">Age: {{this.age}}</p>
                <button  class="btn2"  type="button" value={{this._id}}>Delete</button>
            </div>
        </div>
         {{/each}}
    </div>
   